.main-img-container {
  --swiper-navigation-color: '#fff';
  --swiper-pagination-color: '#fff';
  height: 400px;
  width: 100%;
}

.main-img-container .swiper-slide img {
  height: 100%;
  margin: auto;
  display: flex;
  width: 100%;
  object-fit: contain;
}

.thumb-swiper-container {
  margin-top: 10px;
  margin-bottom: 30px;
  height: 60px;
  width: 100%;
}
.thumb-swiper-container .swiper-slide {
  opacity: 0.3;
}

.thumb-swiper-container .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}

.thumb-swiper-container .swiper-slide img {
  height: 100%;
  width: 100%;
  display: flex;
  object-fit: contain;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 20px;
  color: white;
}
.swiper-button-next,
.swiper-button-prev {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  background-color: grey;
}
